body {
  font-family: Arial, Helvetica, sans-serif;
}
.wr-well {
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 20px 15px 0;

  h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 5px rgba(153, 132, 132, 0.6);
  }
}

.wr-float
{
  position: absolute;
  top: 25px;
  left: 15%;
  right: 15%;
  background-color: transparent;
}

.tier-header {
  background-color: rgba(255, 255, 255, .7);
  cursor: default;
}
