page-home {
  ion-content {
    background: url(../assets/images/space-background.jpg) no-repeat center center fixed;
    background-size: cover;
    }

  #header-image {
    display: block;
    margin: auto;
    float: center;
  }

  #add-card {
    background-color: rgba(255, 255, 255, .7);
    color: black;
    cursor: pointer;
  }

  ion-item {
    cursor: pointer;
  }



}
